@font-face {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  src: url("Oswald/static/oswald-regular.woff") format(woff), url("Oswald/static/oswald-regular.woff2") format(woff2);
  font-weight: normal;
  font-style: normal; }

body {
  background-color: white;
  font-family: 'Oswald';
  margin: 0 auto; }

input, button, textarea {
  outline: none; }

.opacity {
  opacity: 0; }

.visually-hidden:not(:focus):not(:active) {
  display: none;
  /*
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  */ }

.page-header {
  width: 100%;
  min-height: 65px;
  margin-bottom: 1px; }

.page-header__main {
  width: 280px;
  margin: 0 auto;
  display: flex;
  min-height: 68px;
  justify-content: space-between;
  padding: 0 20px 0 20px; }

.page-header__logo-image {
  margin: 14px 0px 0 0;
  width: 33px;
  height: 38px;
  transition: .1s all linear;
  cursor: pointer; }
  .page-header__logo-image:hover {
    opacity: 0.6; }
  .page-header__logo-image:active {
    opacity: 0.3; }

.page-header__mobile-logo {
  padding: 26px 7px 0 0px; }

.main-nav, .page-header__background--desktop {
  display: none; }

.main-nav__toggle {
  transition: 0.3s;
  vertical-align: top;
  width: 24px;
  height: 18px;
  cursor: pointer;
  position: relative;
  margin-top: 26px;
  background-color: white; }

.toggle__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  transition: .3s all linear; }

.toggle__line_first {
  top: 0; }

.toggle__line_second, .toggle__line_third {
  top: 50%;
  transform: translateY(-50%); }

.toggle__line_fourth {
  bottom: 0; }

.toggle_active .toggle__line_first, .toggle_active .toggle__line_fourth {
  opacity: 0; }

.toggle_active .toggle__line_second {
  transform: translateY(-50%) rotate(45deg); }

.toggle_active .toggle__line_third {
  transform: translateY(-50%) rotate(-45deg); }

.main-nav__list {
  height: 215px;
  list-style: none;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  color: #000;
  text-align: center; }

.main-nav__active-line {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: -7px;
  width: 69px;
  height: 2px;
  border: none;
  background-color: #68b738; }

.main-nav__line {
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  border: none;
  margin-bottom: 25px; }

.main-nav__link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 25px;
  transition: .1s all linear; }
  .main-nav__link:hover {
    opacity: 0.6; }
  .main-nav__link:active {
    opacity: 0.3; }

.site-list__item {
  margin-bottom: 25px; }

@media (min-width: 768px) {
  .page-header {
    display: flex;
    margin: 0px;
    padding: 0 0 0 0;
    min-height: 110px;
    margin: 0 auto;
    width: 708px; }
  .page-header__main {
    padding: 0; }
  .main-nav {
    display: block; }
  .page-header__logo-image {
    width: 173px;
    height: 58px;
    margin: 24px 0px 10px 0; }
  .main-nav__toggle, .main-nav__line, .page-header__background--desktop, .page-header__mobile-logo {
    display: none; }
  .main-nav__list {
    width: 440px;
    height: inherit;
    list-style: none;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 43px 0 0 43px; }
  .page-header__logo-tablet {
    display: block;
    margin: 24px 52px 0 0;
    width: 175px;
    height: 60px;
    cursor: pointer;
    transition: .1s all linear; }
    .page-header__logo-tablet:hover {
      opacity: 0.6; }
    .page-header__logo-tablet:active {
      opacity: 0.3; }
  .main-nav__active-line {
    margin: 6px 0 0 1px;
    width: 62px;
    display: block;
    height: 2px;
    border: none;
    background-color: #68b738; } }

@media (min-width: 1280px) {
  .page-header__background--desktop {
    display: block;
    width: 50%;
    height: 696px;
    background-color: #65a93c;
    position: absolute;
    z-index: -1;
    left: 50%;
    background-image: url("../img/index-background-desktop--upd.jpg");
    background-repeat: no-repeat; }
  .page-header {
    padding: 0;
    width: 1280px; }
  .page-header__main {
    padding: 44px 0 0 30px;
    width: 610px; }
  .page-header__logo-image {
    width: 202px;
    height: 59px;
    margin-top: 10px;
    cursor: pointer;
    transition: .1s all linear; }
    .page-header__logo-image:hover {
      opacity: 0.6; }
    .page-header__logo-image:active {
      opacity: 0.3; }
  .main-nav {
    width: 720px; }
  .main-nav__wrapper {
    height: 696px; }
  .main-nav__list {
    font-size: 20px;
    width: 479px;
    margin-left: 125px; }
  .main-nav__link {
    color: white; }
  .site-list__item {
    margin: 30px 0 0 0; }
  .main-nav__active-line {
    margin: 8px 0 0 2px;
    width: 66px;
    background-color: white; } }

@font-face {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  src: url("Oswald/static/oswald-regular.woff") format(woff), url("Oswald/static/oswald-regular.woff2") format(woff2);
  font-weight: normal;
  font-style: normal; }

.weight-program__header {
  width: 100%;
  margin: 0 auto;
  height: 480px;
  margin-bottom: 22px; }

.weight-program__container {
  width: 320px;
  margin: 0 auto; }

.weight-program__background {
  background-color: #65a93c;
  height: 305px;
  background-image: url("../img/index-background-mobile.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover 0; }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .weight-program__background {
      background-image: url("../img/index-background-mobile--x2.jpg");
      background-size: 305px; } }

.weight-program__cover {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-direction: column; }

.weight-program__tag {
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: white;
  text-align: center;
  padding: 27px 0 25px 0px; }

.weight-program__slogan {
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-align: center;
  text-transform: uppercase; }

.weight-program__slogan-image {
  width: 300px;
  height: 270px;
  margin: 15px 0 17px 0;
  order: 1; }

.weight-program__button {
  order: 2;
  align-items: center;
  width: 280px;
  height: 40px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  background-color: #68b738;
  margin: 0 0 22px 20px;
  padding: 0;
  transition: .1s all linear; }
  .weight-program__button:hover {
    background-color: #5eaa2f; }
  .weight-program__button:active {
    color: #8fc46e; }
  .weight-program__button:hover {
    background-color: #5eaa2f; }
  .weight-program__button:active {
    color: #8fc46e; }

.weight-program__section {
  height: 265px;
  width: 280px;
  background-color: #f2f2f2;
  margin: 23px 0 20px 20px; }

.weight-program__name-container {
  display: flex;
  padding: 22px 0 20px 22px; }

.weight-program__cat-image--power {
  margin-left: -9px; }

.weight-program__name {
  padding: 14px 0 0 19px;
  vertical-align: top;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal; }

.name-powerfulcat {
  padding: 12px 0 0 11px; }

.weight-program__description {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding: 1px 20px 22px 20px; }

.weight-program__line {
  background-color: #d9d9d9;
  width: 240px;
  height: 1px;
  border: none;
  margin: 0 0 18px 20px; }

.weight-program__catalog-link {
  margin-top: 2px;
  margin-left: 20px;
  display: flex;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000;
  width: 145px;
  transition: .3s all linear; }
  .weight-program__catalog-link:hover {
    opacity: 0.6; }
  .weight-program__catalog-link:active {
    opacity: 0.3; }

.weight-program__arrow {
  width: 24px;
  margin-left: 10px;
  fill: #3e4242; }

.weight-program__arrow--pro {
  padding-left: 3px; }

@media (min-width: 768px) {
  .weight-program {
    width: auto;
    margin: 0 auto; }
  .weight-program__header {
    background-image: none;
    height: 810px; }
  .weight-program__cover {
    width: 530px;
    margin: left;
    padding-top: 5px; }
  .weight-program__background {
    background-color: rgba(255, 255, 255, 0);
    background-image: none; }
  .weight-program__tag {
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    text-align: left;
    color: #000;
    margin-bottom: 16px; }
  .weight-program__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000;
    padding: 0px;
    text-align: left; }
  .weight-program__slogan-image {
    position: absolute;
    z-index: -1;
    width: 709px;
    height: 609px;
    margin: 113px 0 0 -45px; }
  .weight-program__button {
    margin: 48px 0 0 0;
    width: 245px;
    height: 52px;
    border: none;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase; }
  .weight-program__container {
    width: 765px;
    margin: 0 auto; }
  .weight-program__section {
    margin: 30px 30px 30px 30px;
    width: auto;
    height: 372px;
    display: flex; }
  .weight-program__description {
    font-family: 'Arial';
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    padding: 0px;
    width: 375px;
    margin-bottom: 56px; }
  .weight-program__name {
    font-size: 36px;
    line-height: 37px;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    margin-bottom: 25px; }
  .weight-program__cat-image--slim {
    margin: 0 auto;
    margin-top: 3px;
    margin-left: 395px;
    position: absolute;
    width: 200px;
    height: 212px; }
  .weight-program__cat-image--power {
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 360px;
    position: absolute;
    width: 268px;
    height: 200px; }
  .weight-program__name-container {
    padding: 0px; }
  .weight-program__catalog-link {
    margin: 0px;
    line-height: 20px;
    font-size: 20px;
    align-items: center;
    width: 200px; }
  .weight-program__line {
    display: none; }
  .weight-program__tablet-container {
    padding: 76px 18px 63px 53px; }
  .weight-program__arrow {
    margin-left: 18px; }
  .weight-program__description--prfl-cat {
    width: 340px; } }

@media (min-width: 1280px) {
  .weight-program__header {
    margin-top: -505px;
    height: 552px; }
  .weight-program__cover {
    width: 1060px;
    margin: left;
    padding-top: 5px; }
  .weight-program__slogan-tablet,
  .weight-program__slim-cat--tablet {
    display: none; }
  .weight-program__container {
    width: 1220px;
    display: flex;
    justify-content: space-between; }
  .weight-program__slogan-image {
    width: 552px;
    height: 499px;
    margin: -27px 0 0 185px;
    z-index: 1; }
  .weight-program__button {
    margin-top: 53px; }
  .weight-program__section {
    margin: 10px 0 0 0;
    width: 570px;
    height: 372px; }
  .weight-program__description {
    width: 465px;
    margin-bottom: 30px;
    margin-top: 40px; }
  .weight-program__cat-image--slim {
    position: static;
    margin-top: -36px;
    margin-right: 61px;
    margin-left: 0;
    width: 100px;
    height: 106px; }
  .weight-program__cat-image--power {
    position: static;
    width: 134px;
    height: 100px;
    margin-top: -30px;
    margin-left: -19px;
    margin-right: 46px; } }

.advantages {
  width: 320px;
  margin: 0 auto; }

.advantages__title {
  line-height: 36px;
  font-size: 36px;
  font-weight: normal;
  margin: 28px 0 0 20px; }

.advantages__list {
  margin: 40px 0 42px 20px;
  list-style: none; }

.advantages__item {
  display: flex;
  margin: 0 0 20px 0; }

.advantage__image {
  background-color: #68b738;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center; }

.advantages__number-tablet {
  display: none; }

.advantages__description {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-left: 20px;
  margin-top: 2px; }

@media (min-width: 768px) {
  .advantages {
    width: 708px;
    padding: 15px 0 0 0; }
  .advantages__title {
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    text-align: left;
    color: #000;
    margin: 0px;
    margin-bottom: 72px; }
  .advantages__list {
    width: 670px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .advantages__item {
    flex-direction: column;
    height: 296px;
    width: 286px; }
  .advantages__description {
    font-family: 'Arial';
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    margin: 32px 0 0 0; }
  .advantage__image {
    width: 80px;
    height: 80px; }
  .advantages__number-tablet {
    display: block;
    position: absolute;
    line-height: 281px;
    font-size: 281px;
    color: #f2f2f2;
    z-index: -1;
    margin-top: -39px;
    margin-left: 119px; } }

@media (min-width: 1280px) {
  .advantages {
    width: 1220px;
    margin-top: 59px; }
  .advantages__list {
    width: 1220px; }
  .advantages__item {
    width: 245px;
    height: 275px; } }

.example {
  width: 100%;
  background-color: #f2f2f2;
  height: 706px; }

.example__list-container {
  width: 280px;
  height: 320px;
  padding: 29px 0 39px 0;
  margin: 0 auto; }

.example__title {
  line-height: 36px;
  font-size: 36px;
  font-weight: normal; }

.example__description {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-top: 35px;
  width: 266px; }

.example__list {
  margin-top: 25px;
  display: flex;
  justify-content: space-between; }

.example__item {
  width: 124px;
  height: 69px;
  list-style: none; }

.example__image-cell {
  margin-top: -43px;
  text-align: center; }

.example__number {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px; }

.example__text {
  margin-top: 7px;
  font-family: 'Arial';
  font-size: 12px;
  line-height: 12px;
  width: 55px;
  margin-left: 35px; }

.example-cat {
  margin: 0 auto;
  width: 320px;
  height: 330px; }

.example__cost {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin-top: 24px;
  margin-bottom: 45px; }

.example__cost--desktop {
  display: none; }

.example-cat__selector {
  display: flex;
  justify-content: space-between;
  padding: 265px 44px 0 44px; }

.example-cat__img--before {
  transition: 0.15s;
  position: absolute;
  margin: 0 0 33px 0;
  width: 311px;
  height: 232px; }

.example-cat__img--after {
  transition: 0.15s;
  position: absolute;
  margin: -15px 0 33px 43px;
  display: none;
  width: 251px;
  height: 240px; }

.example-cat__button--before {
  border: none;
  text-transform: uppercase;
  margin-top: -3px;
  line-height: 20px;
  font-size: 16px;
  margin-right: 4px;
  transition: 0.3s;
  cursor: pointer;
  background-color: #f2f2f2; }

.example-cat__button--after {
  border: none;
  text-transform: uppercase;
  margin-top: -3px;
  line-height: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f2f2f2; }

.example-cat__out-selector {
  width: 84px;
  height: 12px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  background-color: white; }

.example-cat__in-selector--before {
  transition: 0.3s;
  width: 35px;
  height: 6px;
  border: none;
  border-radius: 3px;
  background-color: #68b738;
  margin: 3px 0 0 6px; }

.example-cat__in-selector--after {
  transition: 0.3s;
  margin-left: 40px; }

.img-comp-container, .example-cat__line {
  display: none; }

@media (min-width: 768px) {
  .example {
    background-color: rgba(255, 255, 255, 0); }
  .example__list-container {
    padding-top: 15px;
    width: 708px;
    height: 540px; }
  .example__title {
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    text-align: left;
    color: #000; }
  .example__description {
    font-family: 'Arial';
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    width: 680px;
    margin-top: 64px; }
  .example__list {
    width: 408px;
    margin-top: 53px; }
  .example__item {
    width: 173px;
    margin-right: 42px; }
  .example__border {
    width: 173px;
    height: 72px; }
  .example__cost {
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 27px;
    width: 175px;
    margin-top: 62px; }
  .example__text {
    margin-top: 10px;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 14px;
    margin-left: 0;
    width: auto; }
  .example__image-cell {
    margin-top: -58px; }
  .example__number {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    line-height: 37px; }
  .example__list-cost--tablet {
    display: flex;
    justify-content: space-between; }
  .example-cat--cover {
    width: 100%;
    background-color: #f2f2f2; }
  .example-cat {
    margin: 0 auto;
    width: 708px;
    height: 460px; }
  .example-cat__selector {
    display: none; } }

@media (min-width: 1280px) {
  .example {
    margin-top: 20px; }
  .example__title {
    margin-top: -20px; }
  .example__list-container {
    display: block;
    width: 1220px; }
  .example-cat {
    margin-top: -464px;
    padding-left: 500px; }
  .example__description {
    margin-top: 146px;
    width: 435px;
    margin-bottom: 15px; }
  .example__cost {
    display: none; }
  .example__cost--desktop {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 27px;
    width: 327px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between; } }

.contacts__adress {
  width: 280px;
  height: 57px;
  padding: 28px 25px 29px 19px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }

.contacts__text {
  line-height: 20px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase; }

.contacts__adress-text {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  line-height: 20px;
  text-align: left; }

.contacts__map {
  width: 100%; }

@media (min-width: 768px) {
  .contacts {
    margin-top: 385px; }
  .contacts__adress {
    width: 625px;
    margin: 0 auto;
    height: 105px; }
  .contacts__text {
    width: 250px;
    line-height: 25px;
    font-size: 20px; }
  .contacts__adress-text {
    margin-top: 7px;
    text-align: right; }
  .contacts__map {
    height: 400px;
    margin-bottom: -1px; } }

@media (min-width: 1280px) {
  .contacts {
    margin-top: 0px; }
  .contacts__adress {
    margin: 0;
    margin-left: calc(50vw - 610px);
    padding: 0;
    position: absolute;
    width: 570px;
    height: 201px;
    background-color: white; }
  .contacts__map {
    margin-top: -117px;
    width: 100%;
    height: 402px; }
  .contacts__text {
    margin: 65px 0 20px 75px; }
  .contacts__adress-text {
    margin: 75px 90px 20px 0; } }

.page-footer {
  width: 100%;
  margin-top: -1px;
  background-color: #f2f2f2; }

.social__link {
  fill: #666;
  transition: .1s all linear; }
  .social__link:hover {
    fill: #5eaa2f; }
  .social__link:active {
    fill: #8fc46e; }

.page-footer--cover {
  margin: 0 auto;
  text-align: center; }

.footer-logo {
  width: 129px;
  margin: 38px 0 30px 0; }

.social__list {
  margin: 0 auto;
  width: 125px;
  padding: 20px 10px 20px 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center; }

.social__list > *:first-child {
  margin-top: -3px; }

.footer__line {
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  border: none; }

.page-footer__developer {
  padding: 30px 0 30px 0;
  font-size: 16px; }

.page-footer__developer-link {
  text-decoration: none;
  transition: .1s all linear; }
  .page-footer__developer-link:visited {
    color: black; }
  .page-footer__developer-link:hover {
    color: #68b738; }
  .page-footer__developer-link:active {
    color: #c8e0ba; }

@media (min-width: 768px) {
  .footer__line {
    display: none; }
  .page-footer--cover {
    align-items: center;
    width: 708px;
    margin-top: -2px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between; }
  .footer-logo {
    margin: 0; }
  .social__list {
    width: 125px;
    padding-right: 0;
    padding-left: 50px; }
  .social__list > *:first-child {
    margin-top: 0; }
  .social__link--vk {
    width: 30px;
    height: 16px; }
  .social__link--instagram {
    width: 23px;
    height: 23px; }
  .social__link--facebook {
    width: 14px;
    height: 28px; }
  .page-footer__developer {
    line-height: 18px;
    font-size: 18px; } }

@media (min-width: 1280px) {
  .social__list {
    margin-left: 405px; }
  .social__list {
    margin: 0; }
  .page-footer--cover {
    align-items: center;
    width: 1220px;
    margin-top: -2px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between; }
  .page-footer__developer {
    font-size: 22px;
    line-height: 22px; } }

@font-face {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  src: url("Oswald/static/oswald-regular.woff") format(woff), url("Oswald/static/oswald-regular.woff2") format(woff2);
  font-weight: normal;
  font-style: normal; }

body {
  background-color: white;
  font-family: 'Oswald';
  margin: 0 auto; }

input, button, textarea {
  outline: none; }

.opacity {
  opacity: 0; }

.visually-hidden:not(:focus):not(:active) {
  display: none;
  /*
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  */ }

.example-cat__description--after, .example-cat__description--before {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden; }

@media (min-width: 768px) {
  .img-comp-container {
    display: block;
    bottom: 180px;
    position: relative;
    height: 517px;
    /*should be the same height as the images*/ }
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden; }
  .img-comp-slider {
    margin-top: 300px;
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 34px;
    height: 34px;
    background-color: #68b738;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), inset #fff 0 0 0 13px; }
    .img-comp-slider:hover {
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15), inset #fff 0 0 0 13px; }
    .img-comp-slider:active {
      border: 1px solid #68b738; }
  .example-cat__line {
    position: absolute;
    display: block;
    width: 730px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 10px;
    border: none;
    margin-top: -139px; }
  .example-cat__description--before {
    overflow: visible;
    display: block;
    margin-top: -110px;
    margin-left: 50px;
    position: absolute;
    font-size: 20px;
    text-transform: uppercase; }
  .example-cat__description--after {
    overflow: visible;
    display: block;
    margin-top: -110px;
    margin-left: 638px;
    position: absolute;
    font-size: 20px;
    text-transform: uppercase; } }

.active-line--catalog {
  width: 170px; }

@media (min-width: 768px) {
  .active-line--catalog {
    width: 152px; } }

@media (min-width: 1280px) {
  .active-line--catalog {
    width: 170px;
    background-color: #68b738; }
  .main-nav__link--catalog {
    color: black; } }

.catalog__tag {
  width: 280px;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: white;
  margin: 0 auto;
  padding: 26px 0 40px 0px;
  color: black; }

.catalog__line {
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  border: none; }

.goods__card {
  margin: 0 auto;
  width: 280px;
  height: 185px; }

.card-wrapper {
  display: flex; }

.card__table {
  width: 140px; }

.table__header {
  margin-top: 20px;
  margin-bottom: 2px;
  width: 75px;
  line-height: 20px;
  font-size: 16px;
  text-align: left;
  height: 50px; }

.table__text {
  line-height: 14px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif; }

.table__first-column {
  text-align: left; }

.table__second-column {
  text-align: right; }

.goods__line {
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  border: none;
  margin: 24px 0 0 0; }

.purchase-button {
  align-items: center;
  width: 280px;
  height: 40px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  background-color: #68b738;
  width: 280px;
  font-size: 16px; }
  .purchase-button:hover {
    background-color: #5eaa2f; }
  .purchase-button:active {
    color: #8fc46e; }

.goods__more {
  width: 280px;
  margin: 0 auto; }

.more__add-icon {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  margin-top: 40px; }

.add-icon {
  display: block;
  height: 2px;
  background-color: #d3d3d3;
  border: none; }

.add-icon--second-line {
  transform: translateY(-100%) rotate(-90deg); }

.more__header {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 9px 0 9px 0; }

.more__text {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #444444;
  margin-bottom: 24px; }

.more__button {
  align-items: center;
  width: 280px;
  height: 40px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  background-color: #68b738;
  color: #444444;
  background-color: #f2f2f2;
  font-size: 16px; }
  .more__button:hover {
    background-color: #5eaa2f; }
  .more__button:active {
    color: #8fc46e; }
  .more__button:hover {
    background-color: #ebebeb; }
  .more__button:active {
    color: #b9b9b9; }

@media (min-width: 768px) {
  .catalog__line, .goods__line {
    display: none; }
  .catalog__tag {
    width: 708px;
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    text-align: left;
    color: #000;
    margin-bottom: 85px; }
  .goods__wrapper {
    margin: 0 auto;
    width: 708px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .goods__card {
    margin: 0;
    width: 324px;
    height: 430px;
    background-color: #f1f1f1;
    margin-bottom: 140px; }
  .card-wrapper {
    flex-direction: column;
    align-items: center; }
  .goods__image {
    margin-top: -45px; }
  .goods__image--1000gram {
    margin-top: -81px; }
  .card__table {
    width: 250px;
    border-spacing: 0; }
    .card__table td {
      border-bottom: 1px solid #cdcdcd;
      padding: 8px 0 9px 0; }
  .table__header {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 5px;
    width: 130px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    height: 50px; }
  .table__text {
    font-family: 'Arial';
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    line-height: 16px; }
  .purchase-button {
    align-items: center;
    width: 280px;
    height: 40px;
    border: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
    background-color: #68b738;
    width: 250px;
    height: 40px;
    font-size: 16px;
    margin-left: 38px;
    margin-top: 23px; }
    .purchase-button:hover {
      background-color: #5eaa2f; }
    .purchase-button:active {
      color: #8fc46e; }
  .goods__more {
    margin: 0;
    width: 324px;
    height: 430px;
    border: 1px solid #cdcdcd; }
  .more__add-icon {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    margin-top: 84px; }
  .more__header {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 9px 0 9px 0;
    width: 135px; }
  .more__text {
    font-size: 16px;
    width: 170px;
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 84px; }
  .more__button {
    width: 249px;
    margin-left: 38px; } }

@media (min-width: 1280px) {
  .catalog__tag {
    width: 1220px;
    margin-top: 36px;
    margin-bottom: 124px; }
  .goods__wrapper {
    width: 1220px; }
  .goods__card {
    width: 245px; }
  .card__table {
    width: 170px; }
  .purchase-button {
    width: 170px;
    height: 40px;
    font-size: 16px;
    margin-left: 38px;
    margin-top: 23px; }
  .goods__more {
    width: 243px; }
  .more__button {
    width: 170px; } }

.toppings {
  margin-top: 42px;
  margin-bottom: 35px; }

.toppings__card {
  width: 280px;
  margin: 0 auto; }

.toppings__header {
  font-weight: normal;
  width: 250px;
  margin-left: calc(50vw - 140px);
  margin-top: -16px;
  background-color: white;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px; }

.toppings__green-line {
  margin-left: calc(50vw + 110px);
  height: 3px;
  background-color: #68b738;
  border: none; }

.toppings__line {
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  border: none;
  margin: 14px 0 12px 0; }

.toppings__table {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 14px; }

.table__header--toppings {
  text-transform: uppercase;
  font-size: 16px;
  width: 120px;
  text-align: left;
  margin-bottom: 10px; }

.table__text--toppings {
  font-size: 14px; }

.toppings__gift {
  margin: 0 auto;
  margin-top: 27px;
  width: 280px;
  height: 289px;
  background-color: #68b738;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.gift__image {
  fill: white;
  margin: 65px 0 65px 0; }

.gift__text {
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

.contacts--catalog {
  width: 100%;
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .toppings {
    margin-top: -53px;
    margin-bottom: 75px; }
  .toppings__line {
    display: none; }
  .toppings__card {
    width: 633px;
    border: 1px solid #d9d9d9;
    padding: 27px 38px 27px 38px;
    margin-bottom: -1px; }
  .toppings__header {
    width: 375px;
    padding-left: 40px;
    margin-left: calc(50vw - 354px);
    margin-top: -25px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px; }
  .toppings__green-line {
    margin-left: 0; }
  .toppings__table {
    width: 633px;
    display: flex;
    justify-content: space-between; }
  .table__header--toppings {
    font-size: 20px;
    line-height: 20px;
    width: 150px; }
  .table__text--toppings {
    font-size: 16px;
    line-height: 20px; }
  .table__second-column {
    width: 95px; }
  .purchase-button--toppings {
    margin-left: 0;
    width: 633px;
    margin-top: 0; }
  .toppings__gift {
    margin-top: 69px;
    width: 478px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet.jpg");
    flex-direction: row;
    justify-content: space-between;
    padding: 0 115px 0 115px; }
  .gift__image {
    fill: white;
    margin: 65px 0 75px 0; }
  .gift__text {
    text-align: left; }
  .contacts--catalog {
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 0; } }

@media (min-width: 1280px) {
  .toppings {
    margin-top: -43px;
    margin-bottom: 45px; }
  .toppings__header {
    margin-left: calc(50vw - 650px); }
  .toppings__wrapper {
    margin: 0 auto;
    width: 1220px;
    display: flex;
    justify-content: space-between; }
  .card__wrapper {
    width: 895px; }
  .toppings__line {
    display: block;
    width: 895px;
    margin: 0; }
  .toppings__card {
    width: 895px;
    border: none;
    padding: 15px 0 16px 0;
    margin: 0;
    display: flex;
    justify-content: space-between; }
  .toppings__table {
    width: 610px;
    margin: 0;
    margin-top: 10px; }
  .purchase-button--toppings {
    width: 245px;
    height: 40px; }
  .toppings__gift {
    width: 245px;
    height: 289px;
    padding: 0;
    margin: 0;
    background-image: url("../img/gift-photo-desktop.jpg");
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .gift__image {
    margin: 65px 0 65px 0; }
  .gift__text {
    text-align: center; }
  .contacts--catalog {
    background-color: white; }
  .contacts__map--catalog {
    margin-top: 0; }
  .contacts__adress--catalog {
    top: 2080px; } }

.form {
  margin-top: 37px; }

.form__description {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  color: black;
  text-transform: uppercase; }

.form__cat {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.form__input {
  font-size: 16px;
  border-radius: 0px;
  border: 1px solid #e6e6e6;
  height: 43px;
  padding-left: 15px; }
  .form__input:hover {
    border-color: #d1d1d1; }
  .form__input:focus {
    border-color: black; }

.form__input-description {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase; }

.form__cat--cat-name {
  margin-bottom: 14px; }

.form__input--cat-name {
  width: 212px; }

.form__input--cat-weight {
  width: 187px; }

.form__cat--cat-weight {
  margin-bottom: 14px; }

.form__input--cat-age {
  width: 155px; }

.form__cat--cat-age {
  margin-bottom: 23px; }

.form__radio {
  width: 280px;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 22px;
  font-size: 16px;
  text-transform: uppercase;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none; }

.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  margin-right: 17px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: .2s all ease-out;
  background-size: 50% 50%; }

.custom-radio:not(:disabled) + label:hover::before {
  border-color: #68b738; }

.custom-radio:active + label::before {
  opacity: 0.3; }

.custom-radio:focus:not(:checked) + label::before {
  border-color: #68b738; }

.custom-radio:checked + label::before {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), inset #fff 0 0 0 9px;
  background-color: #68b738; }

@media (min-width: 768px) {
  .form {
    margin-top: 67px; }
  .form__description {
    width: 628px;
    font-size: 20px;
    line-height: 30px; }
  .form__tag {
    margin-bottom: 15px; }
  .form__cat {
    width: 628px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .form__input {
    height: 50px;
    font-size: 20px; }
  .form__input-description {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase; }
  .form__cat--cat-name {
    margin-bottom: 20px; }
  .form__input--cat-name {
    width: 550px; }
  .form__input--cat-weight {
    width: 519px; }
  .form__cat--cat-weight {
    margin-bottom: 20px; }
  .form__input--cat-age {
    width: 480px; }
  .form__radio {
    width: 598px;
    height: 144px;
    border: 1px solid #e6e6e6;
    margin-top: 75px;
    margin-bottom: 80px;
    padding: 25px 0 25px 28px;
    font-size: 20px;
    line-height: 20px; }
  .custom-radio + label::before {
    width: 40px;
    height: 40px; }
  .custom-radio:checked + label::before {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), inset #fff 0 0 0 12px;
    background-color: #68b738; } }

@media (min-width: 1280px) {
  .form__description {
    width: 1220px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 17px;
    margin-bottom: 67px;
    display: flex;
    justify-content: space-between; }
  .form {
    margin: 0 auto;
    width: 1220px;
    display: flex;
    justify-content: space-between; }
  .form__cat--wrapper {
    margin: 0;
    width: 570px; }
  .form__cat {
    width: 570px; }
  .form__radio {
    margin: 0;
    width: 542px; }
  .form__input--cat-name {
    width: 489px; }
  .form__input--cat-weight {
    width: 458px; }
  .form__input--cat-age {
    width: 419px; } }

.active-line--form {
  width: 170px; }

@media (min-width: 768px) {
  .active-line--form {
    width: 152px; } }

@media (min-width: 1280px) {
  .active-line--form {
    width: 170px;
    background-color: #68b738; } }

.form-contacts {
  margin-top: 40px;
  margin-bottom: 40px; }

.form-contacts__header {
  width: 200px; }

.form-contacts__header--comment {
  width: 140px; }

.form-contacts__header--extra {
  width: 160px; }

.form__green-line--owner {
  margin-left: calc(50vw); }

.form__green-line--comment {
  margin-left: calc(50vw); }

.form__green-line--extra {
  margin-left: calc(50vw + 24px); }

.form__catowner--email {
  margin-bottom: 14px; }

.form__input--email {
  width: 202px;
  background-image: url("../img/email.svg");
  background-repeat: no-repeat;
  background-size: 17px 13px;
  background-position-x: 180px;
  background-position-y: center; }

.form__input--telephone {
  width: 187px;
  background-image: url("../img/telephone.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position-x: 165px;
  background-position-y: center; }

.form__cat-owner--telephone {
  margin-bottom: 44px; }

.form__catowner--comment {
  width: 262px;
  margin-left: calc(50vw - 139px); }

.form__input--comment {
  min-width: 262px;
  min-height: 40px;
  width: 262px;
  height: 150px;
  padding-top: 16px; }

@media (min-width: 768px) {
  .form-catowner__wrapper {
    margin-bottom: 80px; }
  .form-contacts {
    margin-top: 100px;
    margin-bottom: 67px; }
  .form-contacts__header--comment {
    width: 218px; }
  .form-contacts__header--extra {
    width: 255px;
    margin-bottom: 60px; }
  .form-contacts__header {
    width: 550px; }
  .form__green-line--owner, .form__green-line--comment, .form__green-line--extra {
    margin-left: 0; }
  .form__input--email {
    width: 533px;
    background-position-x: 511px; }
  .form__catowner--email {
    margin-bottom: 20px; }
  .form__input--telephone {
    width: 515px;
    background-position-x: 493px; }
  .form__catowner--comment {
    width: 610px;
    margin-left: calc(50vw - 312px); }
  .form__input--comment {
    min-width: 610px;
    min-height: 50px;
    width: 610px;
    height: 173px; } }

@media (min-width: 1280px) {
  .form-contacts {
    margin-top: 65px;
    margin-bottom: 60px; }
  .form-catowner__wrapper {
    margin: 0 auto;
    width: 1295px;
    display: flex;
    margin-bottom: 90px; }
  .form__input--email {
    width: 469px;
    background-position-x: 447px; }
  .form__catowner--email {
    width: 570px;
    margin-bottom: 0; }
  .form__cat-owner--telephone {
    width: 570px;
    margin-bottom: 0; }
  .form__input--telephone {
    width: 455px;
    background-position-x: 433px; }
  .form__catowner--comment {
    width: 1202px;
    margin-left: calc(50vw - 610px); }
  .form__input--comment {
    min-width: 1202px;
    min-height: 50px;
    width: 1202px;
    height: 173px; } }

.checkbox__wrapper {
  width: 280px;
  height: 157px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 34px; }

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 16px;
  text-transform: uppercase; }

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  flex-grow: 0;
  transition: .2s all ease-out;
  border: 1px solid #cfcfcf;
  border-radius: 0;
  margin-right: 17px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%; }

.custom-checkbox:not(:disabled) + label:hover::before {
  border-color: #68b738; }

.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #68b738; }

.custom-checkbox:checked + label::before {
  background-image: url("../img/ckeckbox.svg");
  background-size: 21px 16px;
  background-repeat: no-repeat;
  background-position: center; }

.form-extra__button-wrapper {
  width: 280px;
  height: 109px;
  margin: 0 auto;
  text-align: center; }

.form-extra__button {
  align-items: center;
  width: 280px;
  height: 40px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  background-color: #68b738;
  margin-bottom: 24px; }
  .form-extra__button:hover {
    background-color: #5eaa2f; }
  .form-extra__button:active {
    color: #8fc46e; }

.form-extra__description {
  color: black;
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif; }

@media (min-width: 768px) {
  .checkbox__wrapper {
    margin-left: calc(50vw - 315px);
    width: 538px;
    height: 116px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 54px; }
    .checkbox__wrapper :nth-child(2n) {
      width: 192px; }
  .custom-checkbox + label::before {
    width: 40px;
    height: 40px;
    margin-right: 17px; }
  .checkbox {
    width: 50%; }
  .custom-checkbox + label {
    font-size: 20px; }
  .form-extra__button-wrapper {
    width: 525px;
    height: 52px;
    margin-left: calc(50vw - 313px);
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .form-extra__button {
    width: 283px;
    height: 52px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px; }
  .form-extra__description {
    color: black;
    text-transform: none;
    font-size: 16px;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif; } }

@media (min-width: 1280px) {
  .checkbox__wrapper {
    margin: 0 auto;
    width: 1220px;
    height: 116px;
    flex-direction: row;
    margin-bottom: -15px; }
    .checkbox__wrapper :nth-child(2n) {
      width: 325px; }
    .checkbox__wrapper :nth-child(4) {
      width: 225px; }
  .checkbox {
    width: 325px; }
  .form-extra__button-wrapper {
    width: 830px;
    margin-left: calc(50vw - 610px);
    margin-bottom: 42px;
    height: 52px; }
  .form-extra__button {
    width: 570px; }
  .contacts__adress--extra {
    top: 1720px; } }

* {
  margin: 0;
  padding: 0; }
