$tablet-width: 768px;
$desktop-width: 1440px;

body{
  background-color: $second-color;
  font-family: 'Oswald';
  width: 320px;
  margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-width){
  body{
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width){
  body{
    width: $desktop-width;
  }

}
