$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

body{
  background-color: $second-color;
  font-family: 'Oswald';
  margin: 0 auto;
}

input, button, textarea{
  outline: none;
}

.opacity{
  opacity: 0;
}

.visually-hidden:not(:focus):not(:active){
  display: none;
  /*
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  */
}
