@import "../mixins.scss";

.contacts__adress{
  width: 320px;
  height: 57px;
  padding: 28px 25px 29px 19px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.contacts__text{
  line-height: 20px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  width: 125px;
}

.contacts__adress-text{
  @include description;
  line-height: 20px;
  width: 135px;
  text-align: right;
}

.contacts__map{
  width: 100%;
}

@media (min-width: $tablet-width){
  .contacts{
    margin-top: 385px;
  }

  .contacts__adress{
    width: 625px;
    margin: 0 auto;
    height: 105px;
  }
  .contacts__text{
    width: 250px;
    line-height: 25px;
    font-size: 20px;
  }

  .contacts__adress-text{
    margin-top: 7px;
  }
  .contacts__map{
    height: 400px;
  }
}

@media (min-width: $desktop-width){
  .contacts{
    margin-top: 0px;
  }

  .contacts__adress{
    margin: -20px 0 0 110px;
    padding: 0;
    position: absolute;
    width: 570px;
    height: 201px;
    background-color: white;
  }

  .contacts__map{
    margin-top: -117px;
    width: 100%;
    height: 402px;
  }

  .contacts__text{
    margin: 65px 0 20px 75px;
  }

  .contacts__adress-text{
    margin: 75px 90px 20px 0;
  }
}
