@import "../mixins.scss";

.example{
  width: 100%;
  background-color: $third-color;
  height: 706px;
}

.example__list-container{
  width: 280px;
  height: 320px;
  padding: 29px 0 39px 0;
  margin: 0 auto;
}

.example__title{
  line-height: 36px;
  font-size: 36px;
  font-weight: normal;
}

.example__description{
  @include description;
  margin-top: 35px;
  width: 266px;
}

.example__list{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.example__item{
  width: 124px;
  height: 69px;
  list-style: none;
}

.example__image-cell{
  margin-top: -43px;
  text-align: center;
}

.example__number{
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
}

.example__text{
  margin-top: 7px;
  font-family: 'Arial';
  font-size: 12px;
  line-height: 12px;
  width: 55px;
  margin-left: 35px;
}

.example-cat{
  margin: 0 auto;
  width: 320px;
  height: 330px;
}

.example__cost{
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin-top: 24px;
  margin-bottom: 45px;
}

.example__cost--desktop{
  display: none;
}

.example-cat__selector{
  display: flex;
  justify-content: space-between;
  padding: 265px 44px 0 44px;
}

.example-cat__img--before{
  transition: 0.15s;
  position: absolute;
  margin: 0 0 33px 0;
  width: 311px;
  height: 232px;
}

.example-cat__img--after{
  transition: 0.15s;
  position: absolute;
  margin: -15px 0 33px 43px;
  display: none;
  width: 251px;
  height: 240px;

}

.example-cat__button--before{
  @include example-cat__button;
  margin-right: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.example-cat__button--after{
  @include example-cat__button;
  cursor: pointer;
}

.example-cat__out-selector{
  width: 84px;
  height: 12px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  background-color: $second-color;
}

.example-cat__in-selector--before{
  transition: 0.3s;
  width: 35px;
  height: 6px;
  border: none;
  border-radius: 3px;
  background-color: $primary-color;
  margin: 3px 0 0 6px;
}

.example-cat__in-selector--after{
  transition: 0.3s;
  margin-left: 40px;
}

.img-comp-container, .example-cat__line{
  display: none;
}

@media (min-width: $tablet-width){
  .example{
    background-color: rgba($color: #fff, $alpha: 0);
  }

  .example__list-container{
    padding-top: 15px;
    width: 708px;
    height: 540px;
  }
  .example__title{
    @include header--tablet;
  }

  .example__description{
    @include description--tablet;
    width: 680px;
    margin-top: 64px;
  }

  .example__list{
    width: 408px;
    margin-top: 53px;
  }
  .example__item{
    width: 173px;
    margin-right: 42px;
  }

  .example__border{
    width: 173px;
    height: 72px;
  }

  .example__cost{
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 27px;
    width: 175px;
    margin-top: 62px;
  }

  .example__text{
    margin-top: 10px;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 14px;
    margin-left: 0;
    width: auto;
  }

  .example__image-cell{
    margin-top: -58px;
  }

  .example__number{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    line-height: 37px;
  }
  .example__list-cost--tablet{
    display: flex;
    justify-content: space-between;
  }

  .example-cat--cover{
    width: 100%;
    background-color: $third-color;
  }
  .example-cat{
    margin: 0 auto;
    width: 708px;
    height: 460px;

  }

  .example-cat__selector{
    display: none;
  }
}

@media (min-width: $desktop-width){

  .example{
    margin-top: 20px;
  }

  .example__title{
    margin-top: -20px;
  }

  .example__list-container{
    display: block;
    width: 1220px;
  }

  .example-cat{
    margin-top: -464px;
    padding-left: 500px;
  }

  .example__description{
    margin-top: 146px;
    width: 435px;
    margin-bottom: 15px;
  }
  .example__cost{
    display: none;
  }
  .example__cost--desktop{
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 27px;
    width: 327px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
}
