@import "../mixins.scss";

.example--wide{
  width: 100%;
  background-color: $third-color;
}

.example{
  width: 320px;
  height: 637px;
  margin: 0 auto;
  padding: 29px 20px 39px 20px;
}

.example__title{
  line-height: 36px;
  font-size: 36px;
  font-weight: normal;
}

.example__description{
  @include description;
  margin-top: 35px;
  width: 266px;
}

.example__list{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.example__item{
  width: 124px;
  height: 69px;
  list-style: none;
}

.example__image-cell{
  margin-top: -43px;
  text-align: center;
}

.example__number{
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
}

.example__text{
  margin-top: 7px;
  font-family: 'Arial';
  font-size: 12px;
  line-height: 12px;
  width: 55px;
  margin-left: 35px;
}

.example-cat{
  height: 330px;
}

.example__cost{
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin-top: 24px;
  margin-bottom: 45px;
}

.example__cost--desktop{
  display: none;
}

.example-cat__selector{
  display: flex;
  justify-content: space-between;
  padding: 265px 44px 0 44px;
}

.example-cat__img--before{
  position: absolute;
  margin: 0 0 33px -20px;
  width: 311px;
  height: 232px;
}

.example-cat__img--after{
  position: absolute;
  margin: -15px 0 33px 23px;
  display: none;
  width: 251px;
  height: 240px;

}

.example-cat__button--before{
  @include example-cat__button;
  margin-right: 4px;
}

.example-cat__button--after{
  @include example-cat__button;
}

.example-cat__out-selector{
  width: 84px;
  height: 12px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  background-color: $second-color;
}

.example-cat__in-selector--before{
  width: 35px;
  height: 6px;
  border: none;
  border-radius: 3px;
  background-color: $primary-color;
  margin: 3px 0 0 6px;
}

.example-cat__in-selector--after{
  margin-left: 37px;
}

@media (min-width: $tablet-width){
  .example{
    background-color: $second-color;
    padding: 15px 30px 0 30px;
  }

  .example__title{
    @include header--tablet;
  }

  .example__description{
    @include description--tablet;
    width: 680px;
    margin-top: 64px;
  }

  .example__list-container{
    display: flex;
    justify-content: space-between;
    height: 230px;
  }

  .example__list{
    justify-content: flex-start;
    width: 408px;
    margin-top: 53px;
  }
  .example__item{
    width: 173px;
    margin-right: 42px;
  }

  .example__border{
    width: 173px;
    height: 72px;
  }

  .example__cost{
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 27px;
    width: 175px;
    margin-top: 62px;
  }

  .example__text{
    margin-top: 10px;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 14px;
    margin-left: 0;
    width: auto;
  }

  .example__number{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    line-height: 37px;
  }

  .example__image-cell{
    margin-top: -58px;
  }

  .example-cat{
    margin: 150px -30px 0 -30px;
    height: 460px;
    background-color: $third-color;
  }
  .example-cat__img--before{
    margin: -153px 0 33px 45px;
    width: 677px;
    height: 499px;
  }

  .example-cat__img--after{
    margin: -168px 0 33px 110px;
    display: none;
    width: 545px;
    height: 517px;

  }

  .example-cat__selector{
    padding: 350px 44px 0 44px;
  }
}

@media (min-width: $desktop-width){

  .example__title, .example__description{
    margin-left: 80px;
  }

  .example__list-container{
    display: block;
    margin-left: 80px;
  }

  .example-cat{
  margin-top: -464px;
  padding-left: 635px;
  }

  .example-cat__selector{
    width: 570px;
  }
  .example__description{
    margin-top: 146px;
    width: 435px;
    margin-bottom: 67px;
  }
  .example__cost{
    display: none;
  }
  .example__cost--desktop{
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 27px;
    width: 330px;
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
  }
}
