@import "../mixins.scss";

.page-footer{
  width: 100%;
  margin-top: -1px;
  background-color: $third-color;

}

.page-footer--cover{
  margin: 0 auto;
  text-align: center;
}

.footer-logo{
  width: 129px;
  margin: 40px 0 40px 0;
}

.social__list{
  margin: 0 auto;
  width: 125px;
  padding: 23px 0 23px 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.footer__line{
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  border: none;
}

.page-footer__developer{
  padding: 40px 0 40px 0;
  cursor: pointer;
  font-size: 16px;
  @include green-icons--HF;
}

@media (min-width: $tablet-width){
  .footer__line{
    display: none;
  }

  .page-footer--cover{
    align-items: center;
    width: 708px;
    margin-top: -2px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
  }

  .footer-logo{
    margin: 0;
  }
  .social__list{
    width: 125px;
    margin-left: 75px;
  }

  .page-footer__developer{
    line-height: 18px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width){
  .social__list{
    margin-left: 405px;
  }

  .social__list{
    margin: 0;
  }
  .page-footer--cover{
    align-items: center;
    width: 1220px;
    margin-top: -2px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
  }
}
