@import "../mixins.scss";

.social__list{
  padding: 23px 102px 23px 93px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.social__link--vk{
  padding-top: -20px;
}

.footer__line{
  background-color: #d9d9d9;
  width: 280px;
  height: 1px;
  border: none;
  margin: 0 0 39px 20px;
}

.footer-logo{
  margin-bottom: 39px;
  margin-left: 96px;
}

@media (min-width: $tablet-width){
  .footer__line{
    display: none;
  }
  .page-footer{
    margin-top: -2px;
    background-color: $third-color;
    padding: 35px 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .footer-logo{
    margin: 0;
  }
  .social__list{
    width: 125px;
    margin-left: 75px;
  }
}
