@import "../mixins.scss";

.catalog__tag{
  width: 280px;
  @include tag-tablet;
  margin: 0 auto;
  padding: 26px 0 40px 0px;
  color: black;
}

.catalog__line{
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  border: none;
}

.goods__card{
  margin: 0 auto;
  width: 280px;
  height: 185px;
}

.card-wrapper{
  display: flex;
}

.card__table{
  width: 140px;
}

.table__header{
  margin-top: 20px;
  margin-bottom: 2px;
  width: 75px;
  line-height: 20px;
  font-size: 16px;
  text-align: left;
  height: 50px;
}

.table__text{
  line-height: 14px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.table__first-column{
  text-align: left;
}

.table__second-column{
  text-align: right;
}

.goods__line{
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  border: none;
  margin: 24px 0 0 0;
}

.purchase-button{
  @include green-button;
  width: 280px;
  font-size: 16px;
}
.goods__more{
  width: 280px;
  margin: 0 auto;
}
.more__add-icon{
  margin: 0 auto;
  width: 30px;
  height: 30px;
  margin-top: 40px;
}
.add-icon{
  display: block;
  height: 2px;
  background-color: #d3d3d3;
  border: none;
}

.add-icon--second-line{
  transform: translateY(-100%) rotate(-90deg);
}

.more__header{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 9px 0 9px 0;
}

.more__text{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: $description-color;
  margin-bottom: 24px;
}

.more__button{
  @include green-button;
  color: $description-color;
  background-color: $third-color;
  font-size: 16px;
  &:hover{
    background-color: #ebebeb;
  }
  &:active{
    color: #b9b9b9;
  }
}

@media (min-width: $tablet-width){
  .catalog__line, .goods__line{
    display: none;
  }

  .catalog__tag{
    width: 708px;
    @include header--tablet;
    margin-bottom: 85px;
  }

  .goods__wrapper{
    margin: 0 auto;
    width: 708px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .goods__card{
    margin: 0;
    width: 324px;
    height: 430px;
    background-color: #f1f1f1;
    margin-bottom: 140px;
  }

  .card-wrapper{
    flex-direction: column;
    align-items: center;
  }

  .goods__image{
    margin-top: -45px;
  }

  .goods__image--1000gram{
    margin-top: -81px;
  }

  .card__table{
    width: 250px;
    border-spacing: 0;
    td{
      border-bottom: 1px solid #cdcdcd;
      padding: 8px 0 9px 0;
    }
  }

  .table__header{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 5px;
    width: 130px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    height: 50px;
  }

  .table__text{
    @include description--tablet;
    line-height: 16px;
  }

  .purchase-button{
    @include green-button;
    width: 250px;
    height: 40px;
    font-size: 16px;
    margin-left: 38px;
    margin-top: 23px;
  }

  .goods__more{
    margin: 0;
    width: 324px;
    height: 430px;
    border: 1px solid #cdcdcd;
  }

  .more__add-icon{
    margin: 0 auto;
    width: 60px;
    height: 60px;
    margin-top: 84px;
  }

  .more__header{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 9px 0 9px 0;
    width: 135px;
  }

  .more__text{
    font-size: 16px;
    width: 170px;
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 84px;
  }

  .more__button{
    width: 249px;
    margin-left: 38px;
  }
}

@media (min-width: $desktop-width){
  .catalog__tag{
    width: 1220px;
    margin-top: 36px;
    margin-bottom: 124px;
  }

  .goods__wrapper{
    width: 1220px;
  }

  .goods__card{
    width: 245px;
  }

  .card__table{
    width: 170px;
  }

  .purchase-button{
    width: 170px;
    height: 40px;
    font-size: 16px;
    margin-left: 38px;
    margin-top: 23px;
  }

  .goods__more{
    width: 245px;
  }

  .more__button{
    width: 170px;
  }
}
