@import '../mixins.scss';
@import "../fonts.scss";
@import "../scaffolding.scss";


.page-header{
  width: 320px;
  min-height: 65px;
  background-color: $second-color;
  margin-bottom: 1px;
}

.page-header__logo-image{
  margin: 11px 61px 16px 20px;
  width: 191px;
  height: 38px;
}

.main-nav__toggle{
  vertical-align:top;
  width: 24px;
  height: 18px;
  margin-top: 23px;
  margin-left: 0px;
  border: none;
  background-image: url('../img/mobile-menu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: $second-color;
}

.main-nav__toggle--active{
  background-image: url('../img/mobile-menu--close.png');
  width: 18px;
  height: 18px;
  margin-top: 23px;
  margin-left: 3px;
}

.main-nav__list{
  height: 215px;
  list-style: none;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  color: #000;
  text-align: center;
}

.main-nav__line{
  background-color: #d9d9d9;
  width: 320px;
  height: 1px;
  border: none;
  margin-bottom: 25px;
}

.main-nav__link{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.site-list__item{
  margin-bottom: 25px;
}

@media (min-width: $tablet-width){
  .page-header{
    display: flex;
  }

  .main-nav__toggle{
    display: none;
  }
}
