@import "../mixins.scss";

.toppings{
  margin-top: 42px;
  margin-bottom: 35px;
}

.toppings__card{
  width: 280px;
  margin: 0 auto;
}

.toppings__header{
  font-weight: normal;
  width: 250px;
  margin-left: calc(50vw - 140px);
  margin-top: -16px;
  background-color: white;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}

.toppings__green-line{
  margin-left: calc(50vw + 110px);
  height: 3px;
  background-color: $primary-color;
  border: none;
}

.toppings__line{
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  border: none;
  margin: 14px 0 12px 0;
}

.toppings__table{
  width: 280px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.table__header--toppings{
  text-transform: uppercase;
  font-size: 16px;
  width: 120px;
  text-align: left;
  margin-bottom: 10px;
}

.table__text--toppings{
  font-size: 14px;
}

.toppings__gift{
  margin: 0 auto;
  margin-top: 27px;
  width: 280px;
  height: 289px;
  background-color: $primary-color;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift__image{
  fill: white;
  margin: 65px 0 65px 0;
}

.gift__text{
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.contacts--catalog{
  width: 100%;
  background-color: $third-color;
}

@media (min-width: $tablet-width){

  .toppings{
    margin-top: -53px;
    margin-bottom: 75px;
  }

  .toppings__line{
    display: none;
  }

  .toppings__card{
    width: 633px;
    border: 1px solid #d9d9d9;
    padding: 27px 38px 27px 38px;
    margin-bottom: -1px;
  }

  .toppings__header{
    width: 375px;
    padding-left: 40px;
    margin-left: calc(50vw - 354px);
    margin-top: -25px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }

  .toppings__green-line{
   margin-left: 0;
  }

  .toppings__table{
    width: 633px;
    display: flex;
    justify-content: space-between;
  }

  .table__header--toppings{
    font-size: 20px;
    line-height: 20px;
    width: 150px;
  }

  .table__text--toppings{
    font-size: 16px;
    line-height: 20px;
  }

  .table__second-column{
    width: 95px;
  }

  .purchase-button--toppings{
    margin-left: 0;
    width: 633px;
    margin-top: 0;
  }

  .toppings__gift{
    margin-top: 69px;
    width: 478px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet.jpg");
    flex-direction: row;
    justify-content: space-between;
    padding: 0 115px 0 115px;
  }

  .gift__image{
    fill: white;
    margin: 65px 0 75px 0;
  }

  .gift__text{
    text-align: left;
  }

  .contacts--catalog{
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 80px;
  }

}

@media (min-width: $desktop-width){
  .toppings{
    margin-top: -43px;
    margin-bottom: 45px;
  }

  .toppings__header{
    margin-left: calc(50vw - 650px);
  }

  .toppings__wrapper{
    margin: 0 auto;
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }

  .card__wrapper{
    width: 895px;
  }

  .toppings__line{
    display: block;
    width: 895px;
    margin: 0;
  }

  .toppings__card{
    width: 895px;
    border: none;
    padding: 15px 0 16px 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .toppings__table{
    width: 610px;
    margin: 0;
    margin-top: 10px;
  }

  .purchase-button--toppings{
    width: 245px;
    height: 40px;
  }

  .toppings__gift{
    width: 245px;
    height: 289px;
    padding: 0;
    margin: 0;
    background-image: url("../img/gift-photo-desktop.jpg");
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .gift__image{
    margin: 65px 0 65px 0;
  }

  .gift__text{
    text-align: center;
  }

  .contacts--catalog{
    background-color: white;
    margin-bottom: 0;
  }

  .contacts__map--catalog{
    margin-top:  0;
  }

  .contacts__adress--catalog{
    top: 2080px;
  }
}
